# HTTP port the backend listens on
HTTP_PORT=8080

# Approov secret: approov secret -get base64url
APPROOV_BASE64URL_SECRET=pptWhmzn2kXxv24xPdAfqJRkYwJ6wYOOnl0AtxMfyUNHvN0wi/xwJtmt7GjgKwbUvVFKE7dDMGoJ5S64PBNz0A==

# Localhost
SERVER_HOSTNAME=0.0.0.0

# Command that starts your server inside the container (e.g., npm run dev, gunicorn app:app, go run main.go).
APP_START_CMD="<<your-start-command>>"
